<form action="/process_dietary_habits" method="POST" id="dietaryHabitsForm">
    <label>Do you eat fruits and vegetables daily?</label>
    <select name="fruits_veggies">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br>
    <label>How often do you consume sugary beverages?</label>
    <select name="sugary_beverages">
        <option value="Daily">Daily</option>
        <option value="Occasionally">Occasionally</option>
        <option value="Rarely">Rarely</option>
        <option value="Never">Never</option>
    </select>
    <br>
    <label>Do you consume processed foods regularly?</label>
    <select name="processed_foods">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br>
    <input type="submit" value="Submit">
</form>
